Source: keto
Section: unknown
Priority: optional
Maintainer: brett.chaldecott@gmail.com
Build-Depends: debhelper (>=10)
Standards-Version: VERSION_TAG
Homepage: https://keto-coin.io

Package: keto
Version: VERSION_TAG
Maintainer: BurntJam
Architecture: all
Description: Keto Coin
Depends: ${misc:Depends}, ${shlibs:Depends}
Breaks:
Provides: keto
